<div class="topbar-main">
    <div class="container">

        <!-- Logo container-->
        <div class="logo">
            <a href="/#/pipe" class="logo">
              <img src="images/logo-white.png"/>
            </a>
        </div>
        <!-- End Logo container-->

        <div class="menu-extras">

            <ul class="nav navbar-nav navbar-right pull-right">
 
                <li data-toggle="tooltip" title="Gestão Empresas">
                    <a href="http://oobj.com/#/empresas"><i class="fa fa-industry" aria-hidden="true"></i></a>     
                </li>

                <li data-toggle="tooltip" title="Gestão Usuários"> 
                    <a href="/#/usuarios"><i class="fa fa-users"></i></a>     
                </li>
                

                <li class="dropdown navbar-c-items settings-topbar">
                    <a href="" class="dropdown-toggle waves-effect waves-light profile" data-toggle="dropdown" aria-expanded="true">
                      <i class="fa fa-cog icon-setting" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu" >

                        <li>
                            <a class="cursor-pointer" ng-controller="LoginController" ng-click="logout()">
                                <span class="f-s-xs f-w-500">Trocar Senha</span><br>
                            </a>
                        </li>

                        <li>
                            <a class="cursor-pointer" ng-controller="LoginController" ng-click="logout()">
                                <span class="f-s-xs f-w-500">Sair</span><br>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>