<button class="float-right btn btn-danger" ng-click="cancel()">
    X
</button>
<div class="modal-header">
    <h3>Cadastro Usuário</h3>
</div>
<form name="user.userForm" ng-submit="submitFormSaveUser()" novalidate>
    <div class="modal-body">

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" name="nome" ng-model="user.name" class="form-control" required placeholder="Nome">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" ng-model="user.email" class="form-control" required placeholder="email@email.com.br">
                </div>
            </div>
        </div>

            <ul>
                <li><p>Ao cadastrar o usuário, será enviado para o e-mail cadastrado os dados de acesso ao sistema.</p></li>
            </ul>
        </article> 
        

        <div class="row">
            <div class="col-md-12 text-center margin-top-10">
                  <p ng-show="mensagem_error.length" class="alert alert-danger">{{mensagem_error}}</p>
                  <p ng-show="mensagem_success.length" class="alert alert-success">{{mensagem_success}}</p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button ladda="loading" type="submit" class="btn btn-primary waves-effect waves-light" >Confirmar</button>

        <button class="btn btn-warning waves-effect waves-light" ng-click="cancel()">Cancelar</button>
    </div>
</form>