<section id="section-controller" ng-controller="RecoverController">
	<div class="wrapper-page">
		<div class=" card-box">
			<div class="panel-heading">
				<h3 class="text-center"> Link Inválido </h3>
			</div>

			<div class="panel-body">
				<div class="form-group m-b-0">
					<div class="input-group">
						<div class="col-md-12 text-center">
							
							<p class="alert alert-success alert-dismissable">
								Link inválido, solicite novamente a recuperação de senha!
							</p>

							<span class="input-group-btn">
								<a href="/#/recover">
									<button type="submit" class="margin-top-10px btn btn-pink w-sm waves-effect waves-light">
										Solicitar Novamente
									</button> 
								</a>
							</span>
						</div>

					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>