<button class="float-right btn btn-danger" ng-click="cancel()">
    X
</button>
<div class="modal-header">
    <h3>Editar Cadastro Empresa</h3>
</div>
<form name="empresa.empresaForm" ng-submit="submitFormEditEmpresa()" novalidate>
    <div class="modal-body">

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label>Razão Social</label>
                    <input type="text" name="razao_social" ng-model="empresa.razao_social" class="form-control" required placeholder="Razão Social">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>CNPJ</label>
                    <input cnpj-base-dir type="text" name="cnpj_base" ng-model="empresa.cnpj_base" class="form-control" required placeholder="99.999.999">
                    <input type="hidden" name="id" value="{{empresa.id}}" ng-model="empresa.id" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Status</label>
                    <select name="status" ng-model="empresa.status" class="form-control selectpicker">
                        <option value="">Selecione</option>
                        <option value="true">Ativo</option>
                        <option value="false">Inativo</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center margin-top-10">
                  <p ng-show="mensagem_error.length" class="alert alert-danger">{{mensagem_error}}</p>
                  <p ng-show="mensagem_success.length" class="alert alert-success">{{mensagem_success}}</p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button ladda="loading" type="submit" class="btn btn-primary waves-effect waves-light" >Alterar</button>

        <button class="btn btn-warning waves-effect waves-light" ng-click="cancel()">Cancelar</button>
    </div>
</form>