<button class="float-right btn btn-danger" ng-click="cancel()">
    X
</button>
<div class="modal-header">
    <h3>Cadastro Filial</h3>
</div>
<form name="filial.filialForm" ng-submit="submitFormSaveFilial()" novalidate>
    <div class="modal-body">

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label>CNPJ</label>
                    <input cnpj-dir type="text" name="cnpj" ng-model="filial.cnpj" class="form-control" required placeholder="99.999.999/9999-99">
                    <input type="hidden" ng-model="filial.empresa" value="{{filial.empresa}}" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>UF</label>

                    <select class="form-control" ng-model="filial.estado" 
                            ng-options="state.Sigla for state in estados"
                            ng-change="updateCity()">
                            <option value="">Selecione</option>
                    </select>
                </div>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <label>Município</label>
                    <select class="form-control" ng-model="filial.municipio" 
                            ng-options="city for city in cidades">
                            <option value="">Selecione</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Status</label>
                <select name="status" ng-model="filial.status" class="form-control selectpicker">
                    <option value="">Selecione</option>
                    <option value="Ativo">Ativo</option>
                    <option value="Inativo">Inativo</option>
                </select>
            </div>

            <div class="col-md-6">
                <label>Categoria</label>
                <select name="categoria" ng-model="filial.categoria" class="form-control selectpicker">
                    <option value="">Selecione</option>
                    <option value="Matriz">Matriz</option>
                    <option value="Filial">Filial</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center margin-top-10">
                  <p ng-show="mensagem_error.length" class="alert alert-danger">{{mensagem_error}}</p>
                  <p ng-show="mensagem_success.length" class="alert alert-success">{{mensagem_success}}</p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button ladda="loading" type="submit" class="btn btn-primary waves-effect waves-light" >Confirmar</button>

        <button class="btn btn-warning waves-effect waves-light" ng-click="cancel()">Cancelar</button>
    </div>
</form>