<button class="float-right btn btn-danger" ng-click="cancel()">
    X
</button>

<div class="modal-header">
    <h3>Importar Dados</h3>
</div>

<div class="modal-body" >

    <article>
        <h3>Regras para importação</h3>   
        <ul>
            <li><p>O Modelo do XML deve ser igual a este modelo:<a target="_blank" href="/files/file.xml"> Clique Aqui! </a></p></li>
            <li><p>Ao fazer upload todos os dados irão fazer parte dos dados do sistema</p></li>
            <li><p>Cuidado com a veracidade dos dados, esta ação é irremediável</p></li>
        </ul>
    </article> 

        <form class="margin-top-25" name="empresa.empresaDeleteForm" ng-submit="confirmRemoveEmpresa(id)" novalidate>
            <h4>Selecione o Arquivo</h4>
            <input type="file" on-read-file="showContent($fileContent)" />
     
        </form>

    <div class="modal-footer">

        <p class="text-center alert alert-{{typeStatus}}">{{statusFile}}</p>
    
        <button ng-disabled="validFile()" ladda="loading" ng-click="sendFile()" class="btn btn-primary waves-effect waves-light" >Confirmar</button>
    
        <button class="btn btn-warning waves-effect waves-light" ng-click="cancel()">Cancelar</button>  
     </div>
</div>